.content { 
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 60px;
}

.nav {
    position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}