.formDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .formContainer {
    width: 400px;
  }
  
  .inp1 {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .button {
    margin-top: 10px;
  }
  
  .err { 
    margin-top: 10px;
    text-align: center;
    color: rgb(255, 0, 0);
    flex-wrap: wrap;
}