.bodyContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(75, 75, 75);
    border-radius: 16px;
    width: 400px;
    height: 450px;
    flex-direction: column;
}

.inp {
    margin-top: 10px !important;
    width: 250px;
    font-size: 32px !important;
}

.btn {
    margin-top: 15px !important;
    margin-left: 5px !important;
    width: 100px;
    height: 35px;
}
.err { 
    margin-top: 10px;
    text-align: center;
    color: rgb(255, 0, 0);
    flex-wrap: wrap;
}